{% extends 'adminusers/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">data table</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <form method="POST">
                                        {% csrf_token %}
                                    <div class="rs-select2--light rs-select2--md">
                                       
                                            <select class="js-select2 mr-5" name="property" >
                                                <option selected="selected" value="all">Skills</option>
                                                <option value="Drama">Drama</option>
                                                <option value="Dance">Dance</option>
                                                <option value="Music">Music</option>
                                                <option value="PublicSpeaking">Public Speaking</option>
                                                <option value="UltimateFrisbee">Ultimate Frisbee</option>
                                                <option value="Electronics&Coding">Electronics & coding</option>
                                                <option value="VisualArts">Visual Arts</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                        <button class="au-btn-filter ml-5" type="submit">
                                            <i class="zmdi zmdi-filter-list"></i>Apply</button>
                                        </form>
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi"></i><a style="color: white" href="{% url 'phone-interview' %}">Phone Timings and Grade</a></button>
                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small ml-5" style="float: right">
                                        <i class="zmdi"></i><a style="color: white" href="{% url 'shortlist-email' %}">Send Acceptance and Rejection email</a></button>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>City</th>
                                            <th>Pincode</th>
                                            <th>Phone number</th>
                                            <th>Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for experience in experiences %}
                                            {% for interest in interests %}

                                                {% if interest.email == experience.email %}
                                                    <tr class="tr-shadow">
                                                        <td><a href={% url 'detail' interest.email%}>{{ interest.name }}</a></td>
                                                        <td>
                                                            <span class="block-email">{{ interest.email }}</span>
                                                        </td>
                                                        <td class="desc">{{ interest.city }}</td>
                                                        <td>{{ interest.pincode }}</td>
                                                        <td>
                                                            <span class="status--process">{{ interest.phone_number }}</span>
                                                        </td>
                                                        <td>
                                                            {{ experience.grade }}
                                                        </td>
                                                    </tr>
                                                   
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->
            <script type="text/javascript">
                function myFunction(id) {
                    console.log(id)
                  var y = document.getElementById(id)
                  var x = document.getElementById("div"+id);
                  console.log(x,y)
                  if(y.checked==true) {
                    x.style.display = "block";
                  } else {
                    x.style.display = "none";
                  }
                }
            </script>


{% endblock %} 